@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-logo {
  font-size: 1.4rem;
}

.card {
  border: none;
}

.btn {
  border-radius: 5px;
}

.album-artist {
  font-size: 1.2rem;
}

.album-title {
  font-size: 1rem;
}

.track-listing-title {
  font-size: 0.8rem;
}

.album-track {
  font-size: 0.8rem;
  margin: 0rem;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
