@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.card {
  /* border: none; */
}

.product-name {
  font-size: 1.1rem;
}
body {
  font-family: 'Lato', sans-serif;
}

main {
  min-height: 80vh;
}

.logo {
  height: 4rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
